.data-title {
  margin-bottom: 10px;
}

.data-subtitle {
  
}

.data-subtitle::before {
  content: "";
  float: left;
  width: 3px;
  height: 85px;
  background-color: #000000;
  margin-right: 15px;
}